.header {
  padding: 20px 10px;
}

.body {
  font-family: 'Indie Flower', cursive;
}

.Navbar {
  font-family: 'Indie Flower', cursive;
  background-color: white;
  border-bottom: 20px solid 666;
  background-size: cover;
  background-position: center;
  padding: 10px;
}

.nav {

  margin: 0;
  padding: 0;
}
.logo {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.item {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
